<div class="login-page">
    <div class="container">
      <div class="row">
        <div class="d-flex justify-content-center">
          <div class="login">
            <div class="box">
              <div class="d-block p-4">
                <div class="text-center">
                  <img src="https://master.d318lr8s05o159.amplifyapp.com/assets/images/comein_logo.png" alt="ComeinLogo">
                </div>
                <div class="text-center m-3">
                    <h4>Create Account</h4>
                    <div class="card p-2 personal-info">
                      <div>
                        <h6>Personal infomation</h6>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                            <mat-form-field>
                              <input type="text" disabled="true" matInput placeholder="First name" value="{{firstName}}">
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field>
                              <input type="text" disabled="true" matInput placeholder="Last name"  value="{{lastName}}">
                            </mat-form-field>
                          </div>
                      </div>
                    </div>
                </div>
                <!-- <div class="text-center m-3">
                  <span class="label label-primary">Hotel Admin</span>
                </div> -->
                <form (keyup.enter)="createAccount()" class="full-width-form" [formGroup]="loginForm">
                  <!-- <div>
                    <mat-form-field>
                      <input type="email" matInput placeholder="Email" formControlName="username" required>
                    </mat-form-field>
                  </div> -->
                  <div>
                    <mat-form-field>
                      <input type="password" matInput placeholder="Password" formControlName="password" required minLength="8">
                    </mat-form-field>
                    <mat-hint>
                      <mat-error *ngIf="loginForm.get('password').hasError('minLength')">
                        Required: 8+ characters, including any characters.
                      </mat-error>
                    </mat-hint>
                  </div>
                  <div>
                    <mat-form-field>
                      <input type="password" matInput placeholder="Confirm password" formControlName="confirmPassword" required minLength="8">
                    </mat-form-field>
                    <mat-hint>
                      <mat-error *ngIf="loginForm.get('confirmPassword').hasError('minLength')">
                        Required: 8+ characters, including any characters.
                      </mat-error>
                    </mat-hint>
                  </div>
                  <div class="d-flex" *ngIf="!isConsent">
                      <div class="p-1"><mat-checkbox formControlName="accept" ></mat-checkbox></div>
                      <div>
                          I agree to Comein's storage and processing of my personal data. <span class="term-button" (click)="viewTerm()">Term & condition</span>
                      </div>
                      <br>
                  </div>
                  <div>
                    <button type="button" mat-raised-button color="primary" (click)="createAccount()" [disabled]="!isConsent && !loginForm.get('accept').value">
                      Create account
                    </button>
                  </div>
                </form>
                <!-- <hr>
                <div>
                  <button class="facebook-login-button" mat-raised-button (click)="loginWithFacebook()">
                    Login with facebook
                  </button>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>