
<div class="container">
    <div class="p-4">
        <h4>Schedule</h4>
        <mat-card>
            <mwl-calendar-month-view
            [viewDate]="viewDate"
            [events]="events"
            (dayClicked)="dayClicked($event)">
            </mwl-calendar-month-view>
        </mat-card>
        <hr>
        <mat-card>
            <h5>Date: {{ dayTitle }}</h5>
            <!-- <div class="event-title">โปรแกรมทัวร์ “กรุงเทพฯ (1 วัน)”</div> -->
            <hr>
            <div class="tickets-view">
                <div class="table-list">
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource">
                          <ng-container matColumnDef="code">
                            <th mat-header-cell *matHeaderCellDef> Ticket code </th>
                            <td mat-cell *matCellDef="let element; index as i;"> {{ element.code+1 }} </td>
                          </ng-container>
                      
                          <ng-container matColumnDef="eventName">
                            <th mat-header-cell *matHeaderCellDef> Event name </th>
                            <td mat-cell *matCellDef="let element"> {{element.eventName}} </td>
                          </ng-container>
            
                          <ng-container matColumnDef="contactName">
                            <th mat-header-cell *matHeaderCellDef> Contact Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.contactName}} </td>
                          </ng-container>
                      
                          <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef> Email </th>
                            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                          </ng-container>
            
                          <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> Status </th>
                            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                          </ng-container>
            
                          <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>Actions</th>
                            <td mat-cell *matCellDef="let element"> 
                                <button mat-button mat-raised-button color="accent">Delete</button>
                                &nbsp;
                                <button mat-button mat-raised-button color="accent">Cancel</button>
                            </td>
                          </ng-container>
                          <tr mat-header-row  *matHeaderRowDef="displayedColumns;"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                      
                        
                      </div>          
                </div>
            </div>
        </mat-card>
    </div>
    
</div>