<div class="container pt-5">
    <h1>Task 5: Tour agency name</h1>
</div>
<div class="container">
    <hr>
    <div class="row box">
        <div class="col-md-3">
            B487453
        </div>
        <div class="col-md-3">
            Spiderman event
        </div>
        <div class="col-md-3">
            1/Jan/2022
        </div>
        <div class="col-md-3">
            {{ 25000.44 | number:'.02'  }}
        </div>
    </div>
</div>
<div class="container">
    <hr>

    <div class="row">
        <div class="col-md-6 text-end">
            <button type="button" mat-button mat-raised-button color="primary">Note</button>
        </div>
        <div class="col-md-6">
            <button type="button" mat-button mat-raised-button color="primary">Pay to Tour company</button>
        </div>
    </div>
</div>