<div class="fullscreen d-flex justify-content-center flex-column">
    <div class="container">
        <div class="row justify-content-center" *ngIf="roles.length > 0">
            <div class="col-md-3" *ngIf="hasRole('comeinAdmin')">
                <a class="card p-3" (click)="goTo('comeinAdmin')">
                    <div class="card-content">
                        <img src="../../../assets/images/admin.png" class="img-fluid" alt="">
                    </div>
                    <div class="card-title p-2">
                        Comein Admin
                    </div>
                </a>
            </div>
            <div class="col-md-3" *ngIf="hasRole('hotelAdmin')">
                <a class="card p-3" (click)="goTo('hotelAdmin')">
                    <div class="card-content">
                        <img src="../../../assets/images/user-1.jpeg" class="img-fluid" alt="">
                    </div>
                    <div class="card-title p-2">
                        Hotel admin
                    </div>
                </a>
            </div>
            <div class="col-md-3" *ngIf="hasRole('hotelStaff')">
                <a class="card p-3" (click)="goTo('hotelStaff')">
                    <div class="card-content">
                        <img src="../../../assets/images/hotel.png" class="img-fluid" alt="">
                    </div>
                    <div class="card-title p-2">
                        Hotel staff
                    </div>
                </a>
            </div>
            <div class="col-md-3" *ngIf="hasRole('tour')">
                <a class="card p-3" (click)="goTo('tour')">
                    <div class="card-content">
                        <img src="../../../assets/images/travel-luggage.png" class="img-fluid" alt="">
                    </div>
                    <div class="card-title p-2">
                        Tour
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- <div *ngxPermissionsOnly="['comeinAdmin']" > Login As Comein Admin</div>
<div *ngxPermissionsOnly="['comeinHotelAdmin']" > Login As Hotel Admin</div>
<div *ngxPermissionsOnly="['comeinHotelStaff']" > Login As Hotel Staff</div> -->