<div class="container pt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="title">
                Payable company
            </div>
        </div>
    </div>
    <div class="row pt-2">
        <mat-form-field>
            <mat-label>Tour selection</mat-label>
            <mat-select (selectionChange)="onSelectTour($event)">
                <!-- <mat-option>-- Tour company --</mat-option> -->
                <mat-option *ngFor="let tour of tourList; index as i;" [value]="tour.id">{{ tour.companyName }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="container pb-5" *ngFor="let data of dataTable; index as i;">
    <h5 *ngIf="data" class="m-0 d-flex justify-content-between"><span>Periods: {{ data.periodDesc  }}</span><span>{{ data.total | number:'.2' }} B</span></h5>
    <div>Status: {{ data.status }}</div>
    <table mat-table [dataSource]="data.details">
        <ng-container matColumnDef="bookingCode">
            <th mat-header-cell *matHeaderCellDef> Booking code </th>
            <td mat-cell *matCellDef="let element; index as i;"> {{ element.bookingCode }} </td>
        </ng-container>

        <ng-container matColumnDef="tourName">
            <th mat-header-cell *matHeaderCellDef> Tour name </th>
            <td mat-cell *matCellDef="let element"> {{ element.tourName }} </td>
        </ng-container>
        <ng-container matColumnDef="tourDate">
            <th mat-header-cell *matHeaderCellDef> Tour date </th>
            <td mat-cell *matCellDef="let element"> 
                {{ element.tourDate | date:'dd/MM/yyyy' }}
            </td>
        </ng-container>
        <ng-container matColumnDef="netValue">
            <th mat-header-cell *matHeaderCellDef class="text-end"> Net value </th>
            <td mat-cell *matCellDef="let element" class="text-end"> 
                {{ element.netValue | number:'.2'}}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="row">
        <div class="col-md-6 text-start">
            <mat-form-field>
                <textarea matInput cols="30" rows="3" placeholder="Note" [(ngModel)]="data.note"></textarea>
            </mat-form-field>
            <button type="button" mat-button mat-raised-button color="primary" (click)="onPay(data)" [disabled]="!companyId || dataTable.length === 0">Pay to Tour company</button>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>