<div class="container mt-5">
    <div class="row" *ngIf="defaultDatas">
        <div class="col-md-12 ">
            <div class="p-3 d-flex justify-content-end">
                Last changed date: {{ defaultDatas[0].updatedDate | date:'dd/MMM/yyyy' }}
            </div>
        </div>
    </div>
    <app-setup-topup-rate-form 
        [defaultDatas]="defaultDatas" 
        (onFormChange)="onFormChange($event)">
    </app-setup-topup-rate-form>
    <div class="row pt-5">
        <div class="col-md-12 text-center">
            <button type="button" mat-button mat-raised-button color="primary" (click)="onSaveAll()">Save All</button>
        </div>
    </div>
</div>