<div class="container pt-5">
    <div class="row">
        <div class="col-md-4">
            <mat-form-field>
                <mat-label>Tour selection</mat-label>
                <mat-select [value]="companyId" (selectionChange)="onSelectTour($event)">
                    <mat-option *ngFor="let tour of tourList; index as i;" [value]="tour.companyId">{{ tour.tourName }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="d-flex justify-content-end">
                Last changed date: {{ '2012-12-31' | date:'dd/MMM/yyyy' }}
            </div>
        </div>
    </div>
    <div class="row">
        <mat-checkbox [(ngModel)]="isUseDefault">Use Default Payment condition</mat-checkbox>
    </div>
    <div *ngIf="!isUseDefault">
        <app-setup-topup-rate-form 
            [defaultDatas]="defaultDatas" 
            (onFormChange)="onFormChange($event)">
        </app-setup-topup-rate-form>
    </div>
    <div class="row pt-5">
        <div class="col-md-12 text-center">
            <button type="button" mat-button mat-raised-button color="primary" (click)="onSaveAll()">Save All</button>
        </div>
    </div>
</div>