.increse-width{
    max-width: 800px !important;
}
.card{
    width: 580px !important;
}
.card-label{
    color: darkblue;
}

.term-button{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}