<div class="container pt-5" [formGroup]="form">
    <div class="row">
        <div class="col-md-12">
            Payable Tour date = Tour date + <input class="day" type="text" formControlName="payableTourDate"> days
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-md-12">
            Payable date = Payment date + <input class="day" type="text" value="0"  formControlName="payableDate"> days
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-md-12">
            <button type="button" mat-button mat-raised-button color="primary" (click)="onSave()">Save</button>
        </div>
    </div>
</div>