<div class="data-table">
    <div class="row p-2 data-row" *ngFor="let data of datas; index as i;">
        <div class="col-md-2">
            Min: 
            <input type="text" class="day" placeholder="0" *ngIf="!data.isEdit" disabled [value]="data.minPeriod" appNumbersOnly>
            <input type="text" class="day" placeholder="0" *ngIf="data.isEdit" [(ngModel)]="tempData.minPeriod" appNumbersOnly>
        </div>
        <div class="col-md-2">
            Max: 
            <input type="text" class="day" placeholder="0" *ngIf="!data.isEdit" disabled [value]="data.maxPeriod" appNumbersOnly>
            <input type="text" class="day" placeholder="0" *ngIf="data.isEdit" [(ngModel)]="tempData.maxPeriod" appNumbersOnly>
        </div>
        <div class="col-md-2">
            Topup rate: 
            <input type="text" class="day" placeholder="0" *ngIf="!data.isEdit" disabled [value]="data.topUpRate" appNumbersOnly>
            <input type="text" class="day" placeholder="0" *ngIf="data.isEdit" [(ngModel)]="tempData.topUpRate" appNumbersOnly>
        </div>
        <div class="col-md-2">
            = come-in 
            <input type="text" class="day" placeholder="0" *ngIf="!data.isEdit" disabled [value]="data.comeinRate" appNumbersOnly>
            <input type="text" class="day" placeholder="0" *ngIf="data.isEdit" [(ngModel)]="tempData.comeinRate" appNumbersOnly>
        </div>
        <div class="col-md-2">
            + hotel 
            <input type="text" class="day" placeholder="0" *ngIf="!data.isEdit" disabled [value]="data.hotelRate" appNumbersOnly>
            <input type="text" class="day" placeholder="0" *ngIf="data.isEdit" [(ngModel)]="tempData.hotelRate" appNumbersOnly>
        </div>
        <div class="col-md-2">
            <button type="button" mat-button mat-raised-button *ngIf="!data.isEdit && !tempData" (click)="onEdit(i)">Edit</button>
            <button type="button" mat-button mat-raised-button *ngIf="data.isEdit && tempData" (click)="onSave(i)">Save</button>
            <button type="button" mat-button mat-raised-button *ngIf="data.isEdit && tempData" (click)="onCancel(i)">Cancel</button>

        </div>
    </div>
    <div class="row p-2 data-row">
        <div class="col-md-2">
            Min: <input type="text" class="day" placeholder="0" [(ngModel)]="addData.minPeriod" appNumbersOnly>
        </div>
        <div class="col-md-2">
            Max: <input type="text" class="day" placeholder="0"  [(ngModel)]="addData.maxPeriod" appNumbersOnly>
        </div>
        <div class="col-md-2">
            Topup rate: <input type="text" class="day" placeholder="0"  [(ngModel)]="addData.topUpRate" appNumbersOnly>
        </div>
        <div class="col-md-2">
            = come-in <input type="text" class="day" placeholder="0"  [(ngModel)]="addData.comeinRate" appNumbersOnly>
        </div>
        <div class="col-md-2">
            + hotel <input type="text" class="day" placeholder="0"  [(ngModel)]="addData.hotelRate" appNumbersOnly>
        </div>
        <div class="col-md-2">
            <button type="button" mat-button mat-raised-button color="primary" (click)="onAdd()" *ngIf="!tempData">Add</button>
        </div>
    </div>
</div>