<div class="data-table">
    <div class="row p-2 data-row" *ngFor="let data of datas; index as i;">
        <div class="col-md-2">
            Min: 
            <input type="text" class="day" placeholder="0" *ngIf="!data.isEdit" disabled [value]="data.min">
            <input type="text" class="day" placeholder="0" *ngIf="data.isEdit" [(ngModel)]="tempData.min">
        </div>
        <div class="col-md-2">
            Max: 
            <input type="text" class="day" placeholder="0" *ngIf="!data.isEdit" disabled [value]="data.max">
            <input type="text" class="day" placeholder="0" *ngIf="data.isEdit" [(ngModel)]="tempData.max">
        </div>
        <div class="col-md-2">
            Topup rate: 
            <input type="text" class="day" placeholder="0" *ngIf="!data.isEdit" disabled [value]="data.rate">
            <input type="text" class="day" placeholder="0" *ngIf="data.isEdit" [(ngModel)]="tempData.rate">
        </div>
        <div class="col-md-2">
            = come-in 
            <input type="text" class="day" placeholder="0" *ngIf="!data.isEdit" disabled [value]="data.comein">
            <input type="text" class="day" placeholder="0" *ngIf="data.isEdit" [(ngModel)]="tempData.comein">
        </div>
        <div class="col-md-2">
            + hotel 
            <input type="text" class="day" placeholder="0" *ngIf="!data.isEdit" disabled [value]="data.hotel">
            <input type="text" class="day" placeholder="0" *ngIf="data.isEdit" [(ngModel)]="tempData.hotel">
        </div>
        <div class="col-md-2">
            <button type="button" mat-button mat-raised-button *ngIf="!data.isEdit && !tempData" (click)="onEdit(i)">Edit</button>
            <button type="button" mat-button mat-raised-button *ngIf="data.isEdit && tempData" (click)="onSave(i)">Save</button>
            <button type="button" mat-button mat-raised-button *ngIf="data.isEdit && tempData" (click)="onCancel(i)">Cancel</button>

        </div>
    </div>
    <div class="row p-2 data-row">
        <div class="col-md-2">
            Min: <input type="text" class="day" placeholder="0" [(ngModel)]="addData.min">
        </div>
        <div class="col-md-2">
            Max: <input type="text" class="day" placeholder="0"  [(ngModel)]="addData.max">
        </div>
        <div class="col-md-2">
            Topup rate: <input type="text" class="day" placeholder="0"  [(ngModel)]="addData.rate">
        </div>
        <div class="col-md-2">
            = come-in <input type="text" class="day" placeholder="0"  [(ngModel)]="addData.comein">
        </div>
        <div class="col-md-2">
            + hotel <input type="text" class="day" placeholder="0"  [(ngModel)]="addData.hotel">
        </div>
        <div class="col-md-2">
            <button type="button" mat-button mat-raised-button color="primary" (click)="onAdd()" *ngIf="!tempData">Add</button>
        </div>
    </div>
</div>