<div mat-dialog-title>
    <h3>Change password</h3>
</div>
<div mat-dialog-content>
    <form [formGroup]="form">
        <div class="row">
            <div class="col-md-12">
                <mat-form-field>
                    <input matInput type="password" placeholder="Old password" formControlName="password">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" placeholder="New password" formControlName="newPassword">
                    <mat-error>Must be at least 7 or 8 characters long</mat-error>
                    <mat-hint>Must be at least 7 or 8 characters long</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" placeholder="Confirm new password" formControlName="confirmPassword">
                    <mat-hint class="text-danger" *ngIf="form.hasError('confirmPassword')">Your password and confirmation password does not match.</mat-hint>
                </mat-form-field>
            </div>
        </div>
    </form>
    <!-- {{ form.errors | json }}
    {{ form.valid | json }} -->
</div>
<div mat-dialog-action>
    <button mat-raised-button color="primary" class="m-2" [disabled]="!form.valid" (click)="confirm()">Confirm</button>
    <button mat-raised-button color="acent" mat-dialog-close>Cancel</button>
</div>