<div class="container pt-5">
    <div class="row">
        <mat-form-field>
            <mat-label>Tour selection</mat-label>
            <mat-select>
                <mat-option value="1">Tour name</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-checkbox [(ngModel)]="isUseDefault">Use Default Payment condition</mat-checkbox>
    </div>
    <ng-container *ngIf="!isUseDefault">
        <div class="row pt-3">
            <div class="col-md-12">
                Payable Tour date = Tour date + <input class="day" type="text" value="0"> days
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-12">
                Payable date = Payment date + <input class="day" type="text" value="0"> days
            </div>
        </div>
    </ng-container>
    
    <div class="row pt-3">
        <div class="col-md-12">
            <button type="button" mat-button mat-raised-button color="primary">Save</button>
        </div>
    </div>
</div>