.email-label {
    color: blue;
}
.login .box {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

.card{
    background-color: rgba(255,255,255,0.6);
}

.term-button{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}