<div class="container">
    <div class="form-header">
        <div class="title">
            <button mat-icon-button (click)="back()">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
          Hotel Management
        </div>
        <div class="control">
            <button mat-raised-button color="primary" (click)="openVerifyDialog()" *ngIf="id!=null && form.get('status').value=='UnVerify'">
                <mat-icon>verified_user</mat-icon>
                Verify
            </button>
            <button mat-raised-button color="warn" (click)="openUnVerifyDialog()" *ngIf="id!=null && form.get('status').value=='Verify'">
                <mat-icon>verified_user</mat-icon>
                UnVerify
            </button>
            <button mat-raised-button color="primary" (click)="openSaveDialog()" *ngIf="!id" >
                <mat-icon>save</mat-icon>
                Save
            </button>
            <!-- <button mat-raised-button color="primary" (click)="openSaveDialog()" *ngIf="id" >
                <mat-icon>edit</mat-icon>
                Edit
            </button> -->
        </div>
    </div>
    <form class="form" action="" [formGroup]="form">
        <div class="row">
            <div class="col-md-12">
                <mat-form-field>
                    <input type="text" [disabled]="id!=null" matInput placeholder="Hotel Name" formControlName="hotelName">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="card p-2">
                <div>
                    Personal infomation
                    <button mat-icon-button mat-button (click)="viewPersonalInfomation()" *ngIf="form.disabled">
                        <mat-icon>visibility</mat-icon>
                    </button>
                </div>
                <div class="row" *ngIf="!form.disabled">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input type="text" [disabled]="id!=null" matInput placeholder="First name"  formControlName="firstName">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <input type="text" [disabled]="id!=null" matInput placeholder="Last name"  formControlName="lastName">
                        </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field>
                            <input type="text" [disabled]="id!=null" matInput placeholder="Email"  formControlName="email">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-12">
                <mat-form-field>
                    <input type="text" [disabled]="id!=null" matInput placeholder="Reference name"  formControlName="referenceName">
                </mat-form-field>
            </div>
        </div> -->
        <br>
        <!-- <div class="row">
            
        </div> -->
        <div class="row">
            <div class="col-md-12">
                <mat-form-field>
                    <input type="text" [disabled]="id!=null" matInput placeholder="Phone number"  formControlName="mobileNo">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field>
                    <mat-select formControlName="country" placeholder="Country">
                        <mat-option *ngFor="let country of countryOptions; index as i;" [value]="country.code">
                            {{ country.nameEn }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field>
                    <mat-select formControlName="province" placeholder="Province">
                        <mat-option *ngFor="let province of provinceOptions; index as i;" [value]="province.code">
                            {{ province.nameEn }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field>
                    <textarea [disabled]="id!=null" matInput placeholder="Address" rows="3"  formControlName="address"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="row" *ngIf="id!=null">
            <div class="col-md-12">
                <mat-form-field>
                    <input type="text" [disabled]="id!=null" matInput placeholder="Status"  formControlName="status">
                </mat-form-field>
            </div>
        </div>
    </form>
</div>