<div class="container">
  <div class="table-header">
    <div class="title">
      Booking Management
    </div>
    <div class="control">
      <button mat-raised-button color="primary" routerLink="create/edit">
       <mat-icon>add</mat-icon> New Booking
      </button>
    </div>
  </div>
  <div>
    <form class="form" [formGroup]="form">
      <div class="row">
          <div class="col-md-12">
              <mat-form-field>
                  <input type="text" matInput placeholder="Booking No." formControlName="bookingNo">
              </mat-form-field>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <mat-form-field>
                  <input type="text" matInput placeholder="Reference name" formControlName="referenceName">
              </mat-form-field>
          </div>
      </div>
      <!-- <div class="row">
          <div class="col-md-12">
              <mat-form-field>
                  <input type="text" matInput placeholder="Name" formControlName="customerName">
              </mat-form-field>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <mat-form-field>
                  <input type="text" matInput placeholder="Surname" formControlName="customerSurname">
              </mat-form-field>
          </div>
      </div> -->
      <div class="row">
          <div class="col-md-12">
            <button mat-raised-button color="primary" (click)="onSearch()">
              <mat-icon>search</mat-icon> Search
             </button>
          </div>
      </div>
    </form>
    </div>
    <div class="table-list">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
          
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element; index as i;"> {{ element.row }} </td>
              </ng-container>
          
              <ng-container matColumnDef="bookingNo">
                <th mat-header-cell *matHeaderCellDef> Booking No. </th>
                <td mat-cell *matCellDef="let element"> {{element.bookingNo}} </td>
              </ng-container>
          
              <ng-container matColumnDef="room">
                <th mat-header-cell *matHeaderCellDef> Room </th>
                <td mat-cell *matCellDef="let element"> {{element.roomName}} </td>
              </ng-container>

              <ng-container matColumnDef="referenceName">
                <th mat-header-cell *matHeaderCellDef> Reference name </th>
                <td mat-cell *matCellDef="let element"> {{element.referenceName}} </td>
              </ng-container>

              <!-- <ng-container matColumnDef="customerSurname">
                <th mat-header-cell *matHeaderCellDef> Surname </th>
                <td mat-cell *matCellDef="let element"> {{element.customerSurname}} </td>
              </ng-container>
          
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container> -->

              <ng-container matColumnDef="checkin">
                <th mat-header-cell *matHeaderCellDef> Check-in </th>
                <td mat-cell *matCellDef="let element"> {{element.checkin | date:'yyyy-MM-dd'}} </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> 
                  <!-- <mat-icon 
                  color="primary" 
                  *ngIf="element.status==='Invited'" 
                  >email</mat-icon>
                  <mat-icon color="primary" *ngIf="element.status==='Completed'" matTooltip="Booking was completed">event_available</mat-icon> -->
                  {{ element.status }}
                  
                </td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> - </th>
                <td mat-cell *matCellDef="let element"> 
                  <mat-icon [color]="element.ownerId ? 'primary':''" class="m-2" (click)="viewPersonalInfomation(element)">account_box</mat-icon>
                  <mat-icon color="primary" class="m-2" (click)="onClickRow(element)">edit</mat-icon>
                </td>
              </ng-container>
          
              <tr mat-header-row  *matHeaderRowDef="displayedColumns;"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator 
              [pageSizeOptions]="[10, 20]"
              showFirstLastButtons
              (page)="onPageChange($event)"
              aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>          
    </div>
</div>