<div class="container">
    <div class="form-header">
        <div class="title">
          <button mat-icon-button (click)="back()">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
        Customer
        </div>
        <div class="control">
            <button mat-raised-button color="primary" (click)="openSaveDialog()" *ngIf="id==null" >
                <mat-icon>save</mat-icon>
                Save
            </button>
            <button mat-raised-button color="primary" (click)="openSaveDialog()" *ngIf="id!=null" >
                <mat-icon>edit</mat-icon>
                Edit
            </button>
        </div>
    </div>
    <form class="form" action="">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field>
                    <input type="text" [disabled]="id!=null" matInput placeholder="Email" [value]="data.email">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field>
                    <input type="number" [disabled]="id!=null" matInput placeholder="Point" [value]="data.point">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field>
                    <input type="text" [disabled]="id!=null" matInput placeholder="Name" [value]="data.name">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field>
                    <input type="text" [disabled]="id!=null" matInput placeholder="Surname" [value]="data.surname">
                </mat-form-field>
            </div>
        </div>
    </form>
</div>