<div class="login-page">
    <div class="container">
      <div class="row">
        <div class="d-flex justify-content-center">
          <div class="login">
            <div class="box">
              <div class="d-block">
                <div class="text-center">
                  <img src="https://master.d318lr8s05o159.amplifyapp.com/assets/images/comein_logo.png" alt="ComeinLogo">
                </div>
                <form (keyup.enter)="signIn()" class="full-width-form" [formGroup]="loginForm">
                  <!-- <div class="text-center m-3">
                      <span class="label label-danger" *ngIf="key=='comeinAdmin'">Comein Admin</span>
                      <span class="label label-primary" *ngIf="key=='comeinHotelAdmin'">Hotel Admin</span>
                      <span class="label label-info" *ngIf="key=='comeinHotelStaff'">Hotel Staff</span>
                      <span class="label label-warning" *ngIf="key=='comeinTour'">Tour</span>
                  </div> -->
                  <div>
                    <mat-form-field>
                      <input type="text" matInput placeholder="Email or Username" formControlName="username" required>
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field>
                      <input type="password" matInput placeholder="Password" formControlName="password" required>
                    </mat-form-field>
                    <mat-hint>
                      <mat-error *ngIf="loginForm.hasError('auth')">ชื่อผู้ใช้ หรือ รหัสผ่านผิด</mat-error>
                    </mat-hint>
                  </div>
                  <div>
                    <button (click)="signIn()" type="button" mat-raised-button color="primary">
                      Go!
                    </button>
                  </div>
                </form>
                <hr>
                <div class="text-center">
                  Hotel regiteration click <a routerLink="/register" [queryParams]="{for: 'hotel-admin'}">here</a>
                </div>
                <div class="text-center">
                  Tour regiteration click <a routerLink="/register" [queryParams]="{for: 'tour-agency'}">here</a>
                </div>
                <!-- <hr>
                <div>
                  <button class="facebook-login-button" mat-raised-button (click)="loginWithFacebook()">
                    Login with facebook
                  </button>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>