<div class="container">
    <div class="form-header">
        <div class="title">
            <button mat-icon-button (click)="back()">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            {{ forms[0] ? 'Tour': (forms[1] ? 'Ticket summary preview' : ( forms[2] ? 'Ticket summary' : '' )) }}
        </div>
        <div class="control">
            <div class="control">
                <!-- <button mat-raised-button color="primary" (click)="openVerifyDialog()" *ngIf="id">
                    <mat-icon>verified_user</mat-icon>
                    Send Invite
                </button> -->
                <!-- <button *ngIf="!forms[0]" mat-raised-button color="primary" (click)="backForm()">
                    Back
                </button> -->
                <button mat-raised-button color="primary" *ngIf="form.enabled || isEdit" (click)="save()">
                    <mat-icon>save</mat-icon>
                    Save
                </button>
                <button mat-raised-button color="primary" (click)="onEdit()" *ngIf="!isEdit" >
                    <mat-icon>edit</mat-icon>
                    Edit
                </button>
            </div>
        </div>
    </div>
    <form class="form" *ngIf="forms[0]" [formGroup]="form">
        <div class="row">
            <!-- <div class="col-md-12">
                <mat-form-field>
                    <mat-label>Package template</mat-label>
                    <mat-select (selectionChange)="onTemplateChange($event)">
                        <mat-option value="">ดูปะการัง - High season</mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->
            <div class="col-md-12">
                <mat-form-field>
                    <input type="text" matInput placeholder="Tour name" formControlName="tourName">
                </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field>
                    <input type="text" matInput placeholder="Tour description" formControlName="tourDesc">
                </mat-form-field>
            </div>
            <!-- <h5>Price</h5>
            <div class="col-md-3">
                <mat-form-field>
                    <input type="text" matInput placeholder="Adult" formControlName="adultPrice">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <input type="text" matInput placeholder="Child" formControlName="childPrice">
                </mat-form-field>
            </div> -->
            <!-- <div class="col-md-12">
                <mat-form-field>
                    <input type="text" matInput placeholder="Ticket / Day">
                </mat-form-field>
            </div> -->
            <h5>Event date</h5>
            <div class="col-md-3">
                <mat-form-field>
                    <input type="date" matInput formControlName="startDate" placeholder="Start date">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <input type="date" matInput formControlName="endDate" placeholder="End date">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <mat-select formControlName="country" placeholder="Country">
                        <mat-option *ngFor="let country of countryOptions; index as i;" [value]="country.code">
                            {{ country.nameEn }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <mat-select formControlName="provinces" placeholder="Province" multiple>
                        <mat-option *ngFor="let province of provinceOptions; index as i;" [value]="province.code">
                            {{ province.nameEn }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <h5>Cover File</h5>
            <div class="col-md-12">
                <input 
                formControlName="file"
                id="file" 
                type="file" 
                multiple="true"
                class="form-control"
                placeholder="Add file"
                (change)="onFileChange($event)">
                <!-- <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                    <div *ngIf="f.file.errors.required">File is required.</div>
                </div> -->
            </div>
            <!-- <div class="example-container" cdkDropListGroup>
                <div cdkDropList [cdkDropListEnterPredicate]="enter" (cdkDropListDropped)="drop()" #placeholder></div>
                <div cdkDropList *ngFor="let img of imageSrcs; index as i;" [cdkDropListEnterPredicate]="enter" (cdkDropListDropped)="drop()">
                    <div cdkDrag class="example-box">{{item}}</div>
                </div>
            </div>  -->
            <!-- {{ imageSrcs | json }} -->
            <div cdkDropList cdkDropListOrientation="horizontal" class="image-list" (cdkDropListDropped)="dropImage($event)">
                <div *ngFor="let img of imageSrcs; index as i;" class="image-box" cdkDrag>
                    <button class="delete" (click)="deleteImage(i)" *ngIf="form.enabled || isEdit">X</button>
                    <img [src]="img" *ngIf="img" class="image">
                </div>
            </div>
        </div>
        <h5>Detail</h5>
        <div class="box">
            <quill-editor
            [styles]="{ height: '250px' }"
            formControlName="detail"
            ></quill-editor>
        </div>
    </form>
</div>