<div class="login-page">
    <div class="container">
      <div class="row">
        <div class="d-flex justify-content-center">
          <div class="login">
            <div class="box">
              <div class="d-block">
                <div class="text-center">
                  <img src="../../../assets/images/comein_logo.png" alt="ComeinLogo">
                </div>
                <ng-container *ngTemplateOutlet="isConfirm ? thankyou:register"></ng-container>
                
                <ng-template #register>
                  <div class="text-center m-3">
                      <h4>Create Account</h4>
                  </div>
                  <!-- <div class="text-center m-3">
                    <span class="label label-primary">Hotel Admin</span>
                  </div> -->
                  <h5>Please check OTP in your email.</h5>
                  <form (keyup.enter)="confirmOTP()" class="full-width-form" [formGroup]="loginForm">
                    <div>
                      <mat-form-field>
                        <input type="text" matInput placeholder="One time password (OTP)" formControlName="otp" required>
                      </mat-form-field>
                    </div>
                  </form>
                  <button class="button" mat-raised-button mat-button (click)="resendOTP()" [disabled]="time > 0">
                      {{ time > 0 ? secondsToHms(time) : 'Resend - OTP'}}
                  </button>
                  <hr>
                  <button class="button" color="primary" mat-raised-button mat-button (click)="confirmOTP()">
                      Next
                  </button>
                  <!-- <hr>
                  <div>
                    <button class="facebook-login-button" mat-raised-button (click)="loginWithFacebook()">
                      Login with facebook
                    </button>
                  </div> -->
                </ng-template>
                <ng-template #thankyou>

                </ng-template>
                
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>