<div mat-dialog-title>
    Re-Match OTA - {{ ota.hotelName }}
</div>
<div mat-dialog-content>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                Feed date: 
            </div>
            <div class="col-md-8">
                {{ ota.feedDate | date: 'dd/MM/yyyy' }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Booking date: 
            </div>
            <div class="col-md-8">
                {{ ota.createdDate  | date: 'dd/MM/yyyy h:mm:ss' }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Booking no: 
            </div>
            <div class="col-md-8">
                {{ ota.bookingNumber }}
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-4">
                OTA Name: 
            </div>
            <div class="col-md-8">
                {{ ota.otaName | date: 'dd/MM/yyyy' }}
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-4">
                Status: 
            </div>
            <div class="col-md-8">
                {{ ota.status }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br>
                <mat-form-field >
                    <mat-select [formControl]="hotelInput" placeholder="Re-Match to">
                        <mat-option *ngFor="let hotel of hotels" [value]="hotel.id">{{ hotel.hotelName }}</mat-option>
                    </mat-select>
                    <mat-hint>Please select new hotel</mat-hint>
                </mat-form-field>
            </div>
        </div>
    </div>
    
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
    <button type="button" mat-button mat-raised-button mat-dialog-close>Cancel</button>
    <button type="button" mat-button mat-raised-button color="primary" (click)="onRematch()">Ok</button>
</div>