<div class="container">
    <div class="row p-3">
        <div class="col-md-6">
            <apx-chart
                *ngIf="chartOptions"
                [chart]="chartOptions.chart"
                [series]="chartOptions.series"
                [stroke]="chartOptions.stroke"
                [plotOptions]="chartOptions.plotOptions"
                [labels]="chartOptions.labels"
                [dataLabels]="chartOptions.dataLabels"
                [fill]="chartOptions.fill"
                [title]="chartOptions.title"
                [legend]="chartOptions.legend"
            ></apx-chart>
        </div>
        <div class="col-md-6">
            <div class="summary">
                <div class="period-input">
                    <!-- <mat-form-field>
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate formControlName="startDate" placeholder="From date" (dateChange)="changeDatePicker()">
                            <input matEndDate formControlName="endDate" placeholder="To date" (dateChange)="changeDatePicker()">
                        </mat-date-range-input>
                        <mat-hint>MM/DD/YYYY to MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field> -->
                    <mat-form-field>
                        <mat-label>
                            Date period
                        </mat-label>
                        <mat-select (selectionChange)="onSelectPeriod($event)" [value]="periods[0].period_id">
                            <mat-option [value]="period.period_id" *ngFor="let period of periods; index as i;"> {{ period.period_desc }} </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <hr>
                <div class="tour-list">
                    <div class="row" *ngFor="let data of dataTable;">
                        <div class="col-md-6">
                            <div class="name">
                                {{ data.tour_name }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="net-value text-end">
                                {{ data.total_net_value | number:'.2' }} B
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <small>Note: {{ data.note }}</small>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-6">
                            <div class="name">
                                The river side dinner
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="net-value text-end">
                                {{ 5000.45 | number:'.2' }} B
                            </div>
                        </div>
                    </div> -->
                </div>
                <hr>
                <div class="total">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Total</h3>
                        </div>
                        <div class="col-md-6">
                            <h3 class="text-end">
                                {{ summaryNetValue | number:'.2' }} B
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel hideToggle *ngFor="let data of dataTable; index as i;"  (click)="onTourClick(i)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="container-fluid d-flex justify-content-between">
                            <h2>{{ data.tour_name }}</h2>
                            <h2>{{ data.total_net_value | number:'0.2' }} B</h2>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="" >
                    <table mat-table [dataSource]="data.booking">
                        <ng-container matColumnDef="bookindId">
                            <th mat-header-cell *matHeaderCellDef> Booking-ID </th>
                            <td mat-cell *matCellDef="let element; index as i;"> {{ element.booking_no }} </td>
                        </ng-container>
    
                        <ng-container matColumnDef="refName">
                            <th mat-header-cell *matHeaderCellDef> Ref-name </th>
                            <td mat-cell *matCellDef="let element"> {{ element.reference_name }} </td>
                        </ng-container>
                        <ng-container matColumnDef="tourDate">
                            <th mat-header-cell *matHeaderCellDef> Tour date </th>
                            <td mat-cell *matCellDef="let element"> 
                                {{ element.tour_date | date:'dd/MM/yyyy' }}
                            </td>
                        </ng-container>
    
                        <ng-container matColumnDef="total">
                            <th mat-header-cell *matHeaderCellDef class="text-end"> Total </th>
                            <td mat-cell *matCellDef="let element" class="text-end"> 
                                {{ element.net_value | number:'0.2' }}
                            </td>
                        </ng-container>
    
    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </mat-expansion-panel>
            <!-- <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="container-fluid d-flex justify-content-between">
                            <h2>The river side dinner</h2>
                            <h2>{{ 5000.45 | number:'0.2' }} B</h2>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="">
                    <table mat-table [dataSource]="[ { id:1 }, {id:2} ]">
                        <ng-container matColumnDef="bookindId">
                            <th mat-header-cell *matHeaderCellDef> Booking-ID </th>
                            <td mat-cell *matCellDef="let element; index as i;"> Bookind ID </td>
                        </ng-container>
    
                        <ng-container matColumnDef="refName">
                            <th mat-header-cell *matHeaderCellDef> Ref-name </th>
                            <td mat-cell *matCellDef="let element"> Ref name </td>
                        </ng-container>
                        <ng-container matColumnDef="tourDate">
                            <th mat-header-cell *matHeaderCellDef> Tour date </th>
                            <td mat-cell *matCellDef="let element"> 
                                {{ '2022-03-19' | date:'dd/MM/yyyy' }}
                            </td>
                        </ng-container>
    
                        <ng-container matColumnDef="total">
                            <th mat-header-cell *matHeaderCellDef class="text-end"> Total </th>
                            <td mat-cell *matCellDef="let element" class="text-end"> 
                                {{ 25000 | number:'0.2' }}
                            </td>
                        </ng-container>
    
    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </mat-expansion-panel> -->
        </mat-accordion>
    </div>
</div>