<!-- <div class="container-fluid">
    <div class="card m-3 p-3">
        <div class="row">
            <div class="col-md-3">
                <div class="card summary p-2">
                    <div class="icon">
                        <mat-icon>group</mat-icon>
                    </div>
                    <div class="card-name">
                        Members
                    </div>
                    <div class="card-number">
                        850
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card summary p-2">
                    <div class="icon">
                        <mat-icon>home</mat-icon>
                    </div>
                    <div class="card-name">
                        Hotels
                    </div>
                    <div class="card-number">
                        4
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card summary p-2">
                    <div class="icon">
                        <mat-icon>hotel</mat-icon>
                    </div>
                    <div class="card-name">
                        Rooms
                    </div>
                    <div class="card-number">
                        1259
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card summary p-2">
                    <div class="icon">
                        <mat-icon>business_center</mat-icon>
                    </div>
                    <div class="card-name">
                        Guests
                    </div>
                    <div class="card-number">
                        520
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="container-fluid">
    <h3>Dashboard</h3>
    <div *ngxPermissionsOnly="['comeinAdmin']" > Login As Comein Admin</div>
    <div *ngxPermissionsOnly="['comeinHotelAdmin']" > Login As Hotel Admin</div>
    <div *ngxPermissionsOnly="['comeinHotelStaff']" > Login As Hotel Staff</div>

    <hr>
    <button (click)="openAlertDialog()" mat-button mat-raised-button class="m-2" color="primary">Open alert dialog</button>
    <button (click)="openConfirmDialog()" mat-button mat-raised-button color="primary">Open confirm dialog</button>
</div> -->

<div class="h-100 d-flex flex-column justify-content-center">
    <div class="d-flex flex-row justify-content-center">
        <div class="d-block">
            <div class="text-center">
                <img src="../../../assets/images/comein_logo.png" alt="">
            </div>
            <div class="m-5">
                <h3 class="text-center">Welcome to Comein system</h3>
                <h5 class="text-center text-danger" *ngIf="allPermissions.length === 0">Waiting approve by comein</h5>
            </div>
            
        </div>
    </div>
</div>