<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table mat-table [dataSource]="[ { id:1 }, {id:2} ]">
                <ng-container matColumnDef="bookindId">
                    <th mat-header-cell *matHeaderCellDef> Booking-ID </th>
                    <td mat-cell *matCellDef="let element; index as i;"> Bookind ID </td>
                </ng-container>
<!-- 
                <ng-container matColumnDef="refName">
                    <th mat-header-cell *matHeaderCellDef> Ref-name </th>
                    <td mat-cell *matCellDef="let element"> Ref name </td>
                </ng-container> -->
                <ng-container matColumnDef="tourDate">
                    <th mat-header-cell *matHeaderCellDef> Tour date </th>
                    <td mat-cell *matCellDef="let element"> 
                        {{ '2022-03-19' | date:'dd/MM/yyyy' }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Booking status</th>
                    <td mat-cell *matCellDef="let element"> 
                        confirmed
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="paymentDate">
                    <th mat-header-cell *matHeaderCellDef class="text-end"> Payment date </th>
                    <td mat-cell *matCellDef="let element" class="text-end"> 
                        {{ '2022-03-19' | date:'dd/MM/yyyy' }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef> Total </th>
                    <td mat-cell *matCellDef="let element"> 
                        Total
                    </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> action </th>
                    <td mat-cell *matCellDef="let element; indes as i;"> 
                        <button type="button" mat-button mat-raised-bitton color="primary" (click)="openReceiveNote(i)">
                            Receive note
                        </button>
                        <button type="button" mat-button mat-raised-bitton color="primary">
                            Tour note
                        </button>
                        <button type="button" mat-button mat-raised-bitton color="primary">
                            Hotel note
                        </button>
                    </td>
                </ng-container>



                <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>